<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remotec.universalremote.activity"
    android:versionCode="3"
    android:versionName="1.6" >


    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/bt_ir_app"
        android:label="@string/app_name" >
        <activity
            android:name=".DeviceActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgressDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".DeviceKeyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AddDeviceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".EditDeviceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SelectIconDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BtDeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
    </application>
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="8"/>
</manifest>